@import "tailwindcss";

@theme {
  /* Fonts */
  --font-poppins: "Inter", sans-serif;
  --font-barlow: "Inter", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --color-latar: #f3f4f6;
  --color-teks: #374151;
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb;
  --color-hijau: #00b074;
  --color-merah: #ef4444;
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b;
}

body {
  @apply font-inter;
  font-family: "Inter", sans-serif;
}
